<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1AXpc64ur2EpqDq8xP3U1zyAbQ70RYVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1084442997964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.karti.hrm</string>
	<key>PROJECT_ID</key>
	<string>karti-hrm-dea83</string>
	<key>STORAGE_BUCKET</key>
	<string>karti-hrm-dea83.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084442997964:ios:eb8cac1c5ba69a7ad03e69</string>
</dict>
</plist>